{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/pages.css' %}" rel="stylesheet">

<!-- ======= Hero Section ======= -->
<section id="PageHero" class="cyclone">
  <div class="hero-container">
    <h1>Biological</h1>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Section ======= -->
  <section id="pages" class="pages">
    <div class="container">

      <h4>Biological Disasters</h4>
      <p>Biological disasters are causative of process or phenomenon of organic origin or conveyed by biological
        vectors, including exposure to pathogenic micro-organisms, toxins and bioactive substances that may cause loss
        of life, injury, illness or other health impacts, property damage, loss of livelihoods and services, social
        and economic disruption, or environmental damage. Examples of biological disasters include outbreaks of
        epidemic diseases, plant or animal contagion, insect or other animal plagues and infestation. Biological
        disasters may be in the form of:</p>
      <ul>
        <li>Epidemic affecting a disproportionately large number of individuals within a population, community, or
          region at the same time, examples being Cholera, Plague, Japanese Encephalitis (JE)/Acute Encephalitis
          Syndrome (AES); or,</li>
        <li>Pandemic is an epidemic that spreads across a large region, that is, a continent, or even worldwide of
          existing, emerging or reemerging diseases and pestilences, example being Influenza H1N1 (Swine
          Flu),covid-19(corona).</li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}