{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/pages.css' %}" rel="stylesheet">

<!-- ======= Hero Section ======= -->
<section id="PageHero" class="cyclone">
  <div class="hero-container">
    <h1>Heat Wave</h1>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Section ======= -->
  <section id="pages" class="pages">
    <div class="container">

      <h4>Heat Wave</h4>
      <p>A Heat Wave is a period of abnormally high temperatures, more than the normal maximum temperature that occurs
        during the summer season in the North-Western parts of India. Heat Waves typically occur between March and
        June, and in some rare cases even extend till July. The extreme temperatures and resultant atmospheric
        conditions adversely affect people living in these regions as they cause physiological stress, sometimes
        resulting in death.</p>
      <p>The Indian Meteorological Department (IMD) has given the following criteria for Heat Waves:</p>
      <ul>
        <li>Heat Wave need not be considered till maximum temperature of a station reaches atleast 40*C for Plains and
          atleast 30*C for Hilly regions</li>
        <li>When normal maximum temperature of a station is less than or equal to 40*C Heat Wave Departure from normal
          is 5*C to 6*C Severe Heat Wave Departure from normal is 7*C or more</li>
        <li>When normal maximum temperature of a station is more than 40*C Heat Wave Departure from normal is 4*C to
          5*C Severe Heat Wave Departure from normal is 6*C or more</li>
        <li>When actual maximum temperature remains 45*C or more irrespective of normal maximum temperature, heat
          waves should be declared. Higher daily peak temperatures and longer, more intense heat waves are becomingly
          increasingly frequent globally due to climate change. India too is feeling the impact of climate change in
          terms of increased instances of heat waves which are more intense in nature with each passing year, and have
          a devastating impact on human health thereby increasing the number of heat wave casualties.</li>
      </ul>
      <p>Higher daily peak temperatures and longer, more intense heat waves are becomingly increasingly frequent
        globally due to climate change. India too is feeling the impact of climate change in terms of increased
        instances of heat waves which are more intense in nature with each passing year, and have a devastating impact
        on human health thereby increasing the number of heat wave casualties.</p>

      <b>Health Impacts of Heat Waves</b>
      <p>The health impacts of Heat Waves typically involve dehydration, heat cramps, heat exhaustion and/or heat
        stroke. The signs and symptoms are as follows:</p>
      <ul>
        <li>Heat Cramps: Ederna (swelling) and Syncope (Fainting) generally accompanied by fever below 39*C i.e.102*F.
        </li>
        <li>Heat Exhaustion: Fatigue, weakness, dizziness, headache, nausea, vomiting, muscle cramps and sweating.
        </li>
        <li>Heat Stoke: Body temperatures of 40*C i.e. 104*F or more along with delirium, seizures or coma. This is a
          potential fatal condition</li>
      </ul>

    </div>
  </section>

</main>

{% endblock %}