{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h3>Welcome to</h3>
        <h1>Electronic Disaster Management</h1>
        <h2>Knowledge prepares best for a disaster.</h2>
        <a href="#about" class="btn-get-started scrollto">learn more</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <h3>Learn More <span>About Us</span></h3>
                <p>The right kind of information communicated and used at the right time can save lives, livelihoods and
                    resources.</p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <h3>Our Mission & Vision</h3>
                    <p>To build a safer and disaster resilient India by a holistic, pro-active, technology driven and
                        sustainable development strategy that involves all stakeholders and fosters a culture of prevention,
                        preparedness and mitigation.</p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Disasters Record Management including information of losses of
                            life.</li>
                        <li><i class="ri-check-double-line"></i> Disaster forecasting on the bases of analysis of previous
                            Disasters records</li>
                        <li><i class="ri-check-double-line"></i> Real-time Disaster Losses Graph for easy understanding of
                            disasters scenario.</li>
                        <li><i class="ri-check-double-line"></i> Disasters warning messages distribution by Mobile SMS and by
                            Email</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>It is not possible to avoid the disasters, but suffering can be minimized by applying effective disaster
                        management. In such situations role of advanced information and communication technology (ICT) is very
                        reliable. Pre disaster management and post disaster management demands rapid access to reliable and
                        accurate data and the capacity to assess, analyse and integrate information from varied sources.</p>
                    <p>During disasters correct information is as much a necessary as water, food, medicine and support. The
                        right kind of information communicated and used at the right time can save lives, livelihoods and
                        resources. Disaster awareness system and related safety messages are also important to reduce disaster
                        losses.</p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Category Section ======= -->
    <section id="Category" class="Category">
        <div class="container">

            <div class="section-title">
                <h2>Category</h2>
                <h3>Disasters <span>Category</span></h3>
                <p class="w-75">A holistic and integrated approach will be evolved towards disaster management.</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="Earthquake">Earthquake</a></h4>
                        <p class="description">An earthquake is a phenomenon that occurs without warning.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-landscape"></i></div>
                        <h4 class="title"><a href="Landslides">Landslides</a></h4>
                        <p class="description">India has the highest mountain chain on earth, the Himalayas.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-wind"></i></div>
                        <h4 class="title"><a href="cyclone">Cyclone</a></h4>
                        <p class="description">Cyclones are caused by atmospheric disturbances around a low-pressure.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-water"></i></div>
                        <h4 class="title"><a href="Tsunami">Tsunami</a></h4>
                        <p class="description">The Earth's lithosphere is broken up into a bunch of discrete pieces.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= SubCategory Section ======= -->
    <section id="SubCategory" class="SubCategory">
        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 col-6">
                    <div class="icon-box">
                        <i class="bx bx-water" style="color: #ffbb2c;"></i>
                        <h3><a href="Flood">Flood</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="icon-box">
                        <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                        <h3><a href="Nuclear">Nuclear</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bx bx-network-chart" style="color: #e80368;"></i>
                        <h3><a href="Biological">Biological</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bx bx-water" style="color: #e361ff;"></i>
                        <h3><a href="UrbanFloods">Urban Floods</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mt-4">
                    <div class="icon-box">
                        <i class="ri-windy-line" style="color: #47aeff;"></i>
                        <h3><a href="HeatWave">Heat Wave</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mt-4">
                    <div class="icon-box">
                        <i class="bx bx-bong" style="color: #ffa76e;"></i>
                        <h3><a href="Chemical">Chemical</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mt-4">
                    <div class="icon-box">
                        <i class="bx bx-recycle" style="color: #11dbcf;"></i>
                        <h3><a href="DM_Cycle">Disaster Management</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mt-4">
                    <div class="icon-box">
                        <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                        <h3><a href="VulnerabilityProfile">Vulnerability Profile</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End SubCategory Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center">
                <h3>Join Our Instant Alert System</h3>
                <p>We'll send you an email and message whenever any kind of disaster occurs.</p>
                <a class="cta-btn" href="javascript:void(0)">Join Now</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="Gallery" class="Gallery">
        <div class="container">

            <div class="section-title">
                <h2>Gallery</h2>
                <h3>Check our <span>Gallery</span></h3>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae
                    autem.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="Gallery-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".Earthquake">Earthquake</li>
                        <li data-filter=".Nuclear">Nuclear</li>
                        <li data-filter=".Tsunami">Tsunami</li>
                        <li data-filter=".HeatWave">Heat Wave</li>
                        <li data-filter=".Biological">Biological</li>
                        <li data-filter=".Landslide">Landslide</li>
                        <li data-filter=".Chemical">Chemical</li>
                        <li data-filter=".Flood">Flood</li>
                        <li data-filter=".Cyclone">Cyclone</li>
                    </ul>
                </div>
            </div>

            <div class="row Gallery-container">

                <div class="col-lg-3 col-md-6 Gallery-item Nuclear">
                    <a href="{% static 'img/disaster/nuclear-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/nuclear-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Biological">
                    <a href="{% static 'img/disaster/biological-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/biological-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Chemical">
                    <a href="{% static 'img/disaster/chemical-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/chemical-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Cyclone">
                    <a href="{% static 'img/disaster/cyclone-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/cyclone-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Earthquake">
                    <a href="{% static 'img/disaster/earthquake-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/earthquake-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Tsunami">
                    <a href="{% static 'img/disaster/tsunami-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/tsunami-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Landslide">
                    <a href="{% static 'img/disaster/landslide-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/landslide-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Flood">
                    <a href="{% static 'img/disaster/flood-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/flood-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Nuclear">
                    <a href="{% static 'img/disaster/nuclear-2.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/nuclear-2.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Biological">
                    <a href="{% static 'img/disaster/biological-2.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/biological-2.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Chemical">
                    <a href="{% static 'img/disaster/chemical-2.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/chemical-2.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Cyclone">
                    <a href="{% static 'img/disaster/cyclone-2.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/cyclone-2.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Earthquake">
                    <a href="{% static 'img/disaster/earthquake-2.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/earthquake-2.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Tsunami">
                    <a href="{% static 'img/disaster/tsunami-2.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/tsunami-2.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Landslide">
                    <a href="{% static 'img/disaster/landslide-2.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/landslide-2.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Flood">
                    <a href="{% static 'img/disaster/flood-2.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/flood-2.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Nuclear">
                    <a href="{% static 'img/disaster/nuclear-3.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/nuclear-3.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Biological">
                    <a href="{% static 'img/disaster/biological-3.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/biological-3.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Chemical">
                    <a href="{% static 'img/disaster/chemical-3.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/chemical-3.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Cyclone">
                    <a href="{% static 'img/disaster/cyclone-3.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/cyclone-3.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Earthquake">
                    <a href="{% static 'img/disaster/earthquake-3.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/earthquake-3.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Tsunami">
                    <a href="{% static 'img/disaster/tsunami-3.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/tsunami-3.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Landslide">
                    <a href="{% static 'img/disaster/landslide-3.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/landslide-3.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Flood">
                    <a href="{% static 'img/disaster/flood-3.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/flood-3.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item HeatWave">
                    <a href="{% static 'img/disaster/heatWave-1.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/heatWave-1.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Earthquake">
                    <a href="{% static 'img/disaster/earthquake-4.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/earthquake-4.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Landslide">
                    <a href="{% static 'img/disaster/landslide-4.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/landslide-4.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 Gallery-item Flood">
                    <a href="{% static 'img/disaster/flood-4.jpg' %}" data-gall="Gallery" class="venobox preview-link">
                        <img src="{% static 'img/disaster/flood-4.jpg' %}" class="img-fluid" alt="">
                    </a>
                </div>

            </div>

        </div>
    </section><!-- End Gallery Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title">
                <h2>F.A.Q</h2>
                <h3>Frequently Asked <span>Questions</span></h3>
            </div>

            <ul class="faq-list">

                <li>
                    <a data-toggle="collapse" class="" href="#faq1">What is our vision? <i class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse show" data-parent=".faq-list">
                        <p>
                            To build a safer and disaster resilient India by a holistic, pro-active, technology driven and
                            sustainable development strategy that involves all stakeholders and fosters a culture of prevention,
                            preparedness and mitigation.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Why register with us? <i class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list">
                        <p>
                            It is not possible to avoid the disasters, but suffering can be minimized by applying effective disaster
                            management. in India, there is no such system who can provide a piece of information and updates through
                            SMS when there is a disaster, information is the key to avoid any panic situation during a disaster and
                            our system provides valid news which will help to overcome the disaster.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">How to register? <i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list">
                        <p>
                            Follow the following direction given below to register with us:
                        <ol>
                            <li>Visit the website and click on signup option from the navigation bar at right top corner.</li>
                            <li>Fill in the details and click on signup</li>
                            <li>That’s it now you are registered with us.</li>
                        </ol>
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq4" class="collapsed">What do we do? <i class="icofont-simple-up"></i></a>
                    <div id="faq4" class="collapse" data-parent=".faq-list">
                        <p>
                            During a disaster if people have right information, they will not get panic and takes the right steps.
                            Our system sends SMS and E-mail during a disaster which will tell them what steps they have to take and
                            guide them how they can be safe and our website will provide the live stats of disaster damage and loss
                            of lives in the disaster, through our system you can also donate money, clothes, blanket, etc. to help
                            the people in need.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq5" class="collapsed">How did the donated money will be given to the
                        people in need? <i class="icofont-simple-up"></i></a>
                    <div id="faq5" class="collapse" data-parent=".faq-list">
                        <p>
                            Once you will click on donate button you will be redirected to the prime minister national relief fund.
                            And hence, the money will directly go into the right hand.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section>
    <!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <h3>Contact <span>Us</span></h3>
                <p>Whether you have a question, suggestions, or anything else,<br> We're ready to answer all your queries</p>
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 320px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.5160892913177!2d77.32878920044328!3d28.614290605872178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce4dfa7207ab3%3A0x50e9ed128a680033!2sAashirwad%20Apartment!5e0!3m2!1sen!2sin!4v1588275228125!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Location:</h4>
                            <p>A - 007, Mayur Vihar Phase - III,<br>New Delhi - 110096</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>papnaivivek@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Call:</h4>
                            <p>+91 79828 38423</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form  action="feedback" method="POST" role="form" class="php-email-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>

{% endblock %}