{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/pages.css' %}" rel="stylesheet">

<!-- ======= Hero Section ======= -->
<section id="PageHero" class="cyclone">
  <div class="hero-container">
    <h1>Nuclear</h1>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Section ======= -->
  <section id="pages" class="pages">
    <div class="container">

      <h4>Nuclear and Radiological Emergency</h4>

      <p>The growth in the application of nuclear science and technology in the fields of power generation, medicine, industry, agriculture, research and defence has led to an increase in the risk of occurrence of Nuclear and Radiological emergencies.</p>
      <p>India has traditionally been vulnerable to natural disasters on account of its unique geo climatic conditions and it has, of late, like all other countries in the world, become equally vulnerable to various man-made disasters.</p>
      <p>Nuclear and Radiological Emergency can arise in a nuclear facility at plant level leading to plant/ site or offsite emergency depending upon the extent of its impact on the surroundings. It can also take place while using radiation sources, either at Hospitals, Industries, Agriculture or Research Institutions due to loss or misplacement or due to faulty handling. The other events that can lead to Nuclear or Radiological Emergency in the public domain, include, accident of a vehicle carrying radioactive/nuclear material, due of an orphan source i.e. the source which is not under regulatory control or due to usage of radiation source/radioactive material in Malevolant activities.</p>
      <p>Any radiation incident resulting in or having a potential to result in exposure and/or contamination of the workers or the public in excess of the respective permissible limits can lead to a nuclear/radiological emergency.</p>
      <p>Sad memories of the use of nuclear weapons dropped on Hiroshima and Nagasaki, and the wide publicity given to the reactor accidents at Three Mile Island (TMI) in USA and Chernobyl in erstwhile USSR, have strongly influenced the public perception of any nuclear or radiological emergency to be most often linked, erroneously though, to only these events. However, one must be prepared to face nuclear/radiological emergencies of lower magnitudes and ensure that the impact of such an emergency (which,for a given magnitude, is likely to be much greater today because of higher population densities coupled with an enhanced urban infrastructure due to economic prosperity) is always kept under control. It may be noted that better infrastructure can be helpful during such incidences in terms
        of enhance communication, transport and medical support.</p>
      <p>For improving the quality of life in society, India has embarked upon a large programme of using nuclear energy for generation of electricity. As on date, India has 20 power reactors and three research reactors in operation along with five power reactors under construction. It is also planned to explore setting up Thorium based reactors to meet its ever increasing energy needs. The country is also at the verge of making operational the first 500MW prototype Fast Breeder Reactor (PFBR) after a prolonged experience of operation of FBTR (Fast Breeder Test Reactor). Further, the country utilises adioisotopes in a variety of applications in the non-power sector, viz., in the field of industry, agriculture, medicine, research, etc. Due to the inherent safety culture, the best safety
        practices and standards followed in these applications and effective regulation by the Atomic Energy Regulatory Board, the radiation dose to which the persons working in nuclear/radiation facilities are exposed to, is well within the permissible limits and the risk of its impact on the public domain is very low.</p>
      <p>However, nuclear emergencies can still arise due to factors beyond the control of the operating agencies; e.g., human error, system failure, sabotage, earthquake, cyclone, flood, etc. Such failures, even though of very low probability, may lead to an on-site or off-site emergency. To combat this, a number of system upgrades have been planned to mitigate/prevent such emergencies. However, proper emergency preparedness plans must be in place so that there is minimum avoidable loss of life, livelihood, property and impact on the environment.</p>

    </div>
  </section>

</main>
{% endblock %}