{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/pages.css' %}" rel="stylesheet">

<!-- ======= Hero Section ======= -->
<section id="PageHero" class="cyclone">
  <div class="hero-container">
    <h1>Urban Floods</h1>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Section ======= -->
  <section id="pages" class="pages">
    <div class="container">

      <h4>Urban Floods</h4>
      <p>Urban flooding is significantly different from rural flooding as urbanization leads to developed catchments,
        which increases the flood peaks from 1.8 to 8 times and flood volumes by up to 6 times. Consequently, flooding
        occurs very quickly due to faster flow times (in a matter of minutes). Urban areas are densely populated and
        people living in vulnerable areas suffer due to flooding, sometimes resulting in loss of life. It is not only
        the event of flooding but the secondary effect of exposure to infection also has its toll in terms of human
        suffering, loss of livelihood and, in extreme cases, loss of life.</p>
      <p>Urban areas are also centres of economic activities with vital infrastructure which needs to be protected
        24x7. In most of the cities, damage to vital infrastructure has a bearing not only for the state and the
        country but it could even have global implications. Major cities in India have witnessed loss of life and
        property, disruption in transport and power and incidence of epidemics. Therefore, management of urban
        flooding has to be accorded top priority.</p>
      <p>Increasing trend of urban flooding is a universal phenomenon and poses a great challenge to urban planners
        the world over. Problems associated with urban floods range from relatively localized incidents to major
        incidents, resulting in cities being inundated from hours to several days. Therefore, the impact can also be
        widespread, including temporary relocation of people, damage to civic amenities, deterioration of water
        quality and risk of epidemics.</p>

    </div>
  </section>

</main>

{% endblock %}